/* -------------------- */

/* Guía de Estilos */

/* -------------------- */

/* ---------- Fuentes tipograficas externas ---------- */

/* POR CADA TIPO DE  FAMILIA  DE TIPOGRAFIA SE TIENE QUE HACER UN FONT-FACE ENTERO COMO 
EL DE ABAJO.  EJEMPLO -AQUI ABAJO ES PARA LA TIPO: OPEN SANS */

/* Convierto a comentario, todo aquello que no quiero cargar, pero quiero tener esa 
linea de codigo, para saber como se hace normalmente. */

@font-face {
    font-family: 'OpenSans';
    /* font-style: normal; */
    /* font-weight: 400; */
    /* EL SRC: LOCAL(' NOMBRE DE LA FUENTE TIPOGRAFICA, PUEDES
    CAMBIARLE EL NOMBRE SI QUIERES. PERO EL LOCAL Y EL FONTFAMILY
    (Arriba)
    DEBEN PONER LO MISMO, CUIDADO */
    src: local('OpenSans'), /* FIN */
    /* url(../fonts/opensans.eot) format('embedded-opentype'), */
    /* url(../fonts/tipografia/OpenSans-Regular.ttf) format('truetype'), */
    /* url(../fonts/opensans.otf) format('opentype'), */
    url(../fonts/tipografia/OpenSans-Regular.woff) format('woff');
    /* url(../fonts/opensans.woff) format('woff2');*/
}

/* FIN */

@font-face {
    font-family: 'OpenSansBold';
    /* font-style: normal; */
    /* font-weight: 400; */
    src: local('OpenSansBold'), /* url(../fonts/opensans.eot) format('embedded-opentype'), */
    /* url(../fonts/tipografia/OpenSans-Bold.ttf) format('truetype'), */
    /* url(../fonts/opensans.otf) format('opentype'), */
    url(../fonts/tipografia/OpenSans-Bold.woff) format('woff');
    /* url(../fonts/opensans.woff) format('woff2');*/
}

@font-face {
    font-family: 'OpenSansLigth';
    /* font-style: normal; */
    /* font-weight: 400; */
    src: local('OpenSansLigth'), /* url(../fonts/opensans.eot) format('embedded-opentype'), */
    /* url(../fonts/tipografia/OpenSans-Light.ttf) format('truetype'), */
    /* url(../fonts/opensans.otf) format('opentype'), */
    url(../fonts/tipografia/OpenSans-Light.woff) format('woff');
    /* url(../fonts/opensans.woff) format('woff2');*/
}

/* Helvetica Ligth */

@font-face {
    font-family: 'helveticaLt';
    /* font-style: normal; */
    /* font-weight: 400; */
    src: local('helveticaLt'), /* url(../fonts/opensans.eot) format('embedded-opentype'), */
    /* url(../fonts/tipografia/OpenSans-Light.ttf) format('truetype'), */
    /* url(../fonts/opensans.otf) format('opentype'), */
    url(../fonts-tipografia/HelveticaNeueLTStdLt) format('woff');
    /* url(../fonts/opensans.woff) format('woff2');*/
}

@font-face {
    font-family: 'helveticaBolder';
    /* font-style: normal; */
    /* font-weight: 400; */
    src: local('helveticaBolder'), /* url(../fonts/opensans.eot) format('embedded-opentype'), */
    /* url(../fonts/tipografia/OpenSans-Light.ttf) format('truetype'), */
    /* url(../fonts/opensans.otf) format('opentype'), */
    url(../fonts/tipografia/HelveticaNeueLTStd-BdCn.woff) format('woff');
    /* url(../fonts/opensans.woff) format('woff2');*/
}

@font-face {
    font-family: 'acuminBolderpro';
    /* font-style: normal; */
    /* font-weight: 400; */
    src: local('acuminBolderpro'), /* url(../fonts/opensans.eot) format('embedded-opentype'), */
    /* url(../fonts/tipografia/OpenSans-Light.ttf) format('truetype'), */
    /* url(../fonts/opensans.otf) format('opentype'), */
    url(../fonts/tipografia/Acumin-BdPro.woff) format('woff');
    /* url(../fonts/opensans.woff) format('woff2');*/
}

@font-face {
    font-family: 'acuminNormal';
    /* font-style: normal; */
    /* font-weight: 400; */
    src: local('acuminNormal'), /* url(../fonts/opensans.eot) format('embedded-opentype'), */
    /* url(../fonts/tipografia/OpenSans-Light.ttf) format('truetype'), */
    /* url(../fonts/opensans.otf) format('opentype'), */
    url(../fonts/tipografia/Acumin-RPro.woff) format('woff');
    /* url(../fonts/opensans.woff) format('woff2');*/
}

@font-face {
    font-family: 'robotoBold';
    /* font-style: normal; */
    /* font-weight: 400; */
    src: local('robotoBold'), /* url(../fonts/opensans.eot) format('embedded-opentype'), */
    /* url(../fonts/tipografia/OpenSans-Light.ttf) format('truetype'), */
    /* url(../fonts/opensans.otf) format('opentype'), */
    url(../fonts/tipografia/Roboto-Bold.woff) format('woff');
    /* url(../fonts/opensans.woff) format('woff2');*/
}

@font-face {
    font-family: 'robotoNormal';
    /* font-style: normal; */
    /* font-weight: 400; */
    src: local('robotoNormal'), /* url(../fonts/opensans.eot) format('embedded-opentype'), */
    /* url(../fonts/tipografia/OpenSans-Light.ttf) format('truetype'), */
    /* url(../fonts/opensans.otf) format('opentype'), */
    url(../fonts/tipografia/Roboto-Regular.woff) format('woff');
    /* url(../fonts/opensans.woff) format('woff2');*/
}

@font-face {
    font-family: 'robotoLigth';
    /* font-style: normal; */
    /* font-weight: 400; */
    src: local('robotoLigth'), /* url(../fonts/opensans.eot) format('embedded-opentype'), */
    /* url(../fonts/tipografia/OpenSans-Light.ttf) format('truetype'), */
    /* url(../fonts/opensans.otf) format('opentype'), */
    url(../fonts/tipografia/Roboto-Light.woff) format('woff');
    /* url(../fonts/opensans.woff) format('woff2');*/
}

@font-face {
    font-family: 'robotoMedium';
    /* font-style: normal; */
    /* font-weight: 400; */
    src: local('robotoMedium'), /* url(../fonts/opensans.eot) format('embedded-opentype'), */
    /* url(../fonts/tipografia/OpenSans-Light.ttf) format('truetype'), */
    /* url(../fonts/opensans.otf) format('opentype'), */
    url(../fonts/tipografia/Roboto-Medium.woff) format('woff');
    /* url(../fonts/opensans.woff) format('woff2');*/
}

@font-face {
    font-family: 'MontserratLigth';
    /* font-style: normal; */
    /* font-weight: 400; */
    src: local('montserratLigth'), /* url(../fonts/opensans.eot) format('embedded-opentype'), */
    /* url(../fonts/tipografia/OpenSans-Light.ttf) format('truetype'), */
    /* url(../fonts/opensans.otf) format('opentype'), */
    /* url(../fonts/tipografia/) format('woff'); */
    url(../fonts/tipografia/montserrat-light-webfont.woff2) format('woff2');
}

@font-face {
    font-family: 'MontserratRegular';
    /* font-style: normal; */
    /* font-weight: 400; */
    src: local('montserratRegular'), /* url(../fonts/opensans.eot) format('embedded-opentype'), */
    /* url(../fonts/tipografia/OpenSans-Light.ttf) format('truetype'), */
    /* url(../fonts/opensans.otf) format('opentype'), */
    /* url(../fonts/tipografia/OpenSans-Light.woff) format('woff'); */
    url(../fonts/tipografia/montserrat-regular-webfont.woff2) format('woff2');
}

@font-face {
    font-family: 'MontserratBold';
    /* font-style: normal; */
    /* font-weight: 400; */
    src: local('montserratBold'), /* url(../fonts/opensans.eot) format('embedded-opentype'), */
    /* url(../fonts/tipografia/OpenSans-Light.ttf) format('truetype'), */
    /* url(../fonts/opensans.otf) format('opentype'), */
    /* url(../fonts/tipografia/OpenSans-Light.woff) format('woff'); */
    url(../fonts/tipografia/montserrat-bold-webfont.woff2) format('woff2');

}



/* Otros FontFace por si quieres modificarlos mas adelante */

@font-face {
    font-family: 'OpenSansLigth';
    /* font-style: normal; */
    /* font-weight: 400; */
    src: local('OpenSansLigth'), /* url(../fonts/opensans.eot) format('embedded-opentype'), */
    /* url(../fonts/tipografia/OpenSans-Light.ttf) format('truetype'), */
    /* url(../fonts/opensans.otf) format('opentype'), */
    url(../fonts/tipografia/) format('woff');
    /* url(../fonts/opensans.woff) format('woff2');*/
}

@font-face {
    font-family: 'OpenSansLigth';
    /* font-style: normal; */
    /* font-weight: 400; */
    src: local('OpenSansLigth'), /* url(../fonts/opensans.eot) format('embedded-opentype'), */
    /* url(../fonts/tipografia/OpenSans-Light.ttf) format('truetype'), */
    /* url(../fonts/opensans.otf) format('opentype'), */
    url(../fonts/tipografia/OpenSans-Light.woff) format('woff');
    /* url(../fonts/opensans.woff) format('woff2');*/
}

/* ---------- HTML ---------- */

html {
    font-size: 16px;
    font-family: 'OpenSans', sans-serif;
}

/* Cabecera */
header{background-image: url(../img/desktop/thermorecetas.png);}


/* ---------- Margenes ---------- */

/* Margenes del cuerpo del contenido */



/* margenes del menu */




/* margenes verticales */




/* ---------- Colores ---------- */
#titulo{color:red;}
h2{color:red;}
h3{color:grey;border: 2px solid black;}
.ul_categorias{color: red;;}
span.footer_span{color: blue;}
span.blog{color:grey;font-weight: bold;}
/* ---------- Tipografia ---------- */









